COOKIE=

# 大模型配置
AL_API_KEY=
AL_API_URL=https://dashscope.aliyuncs.com/compatible-mode/v1

# Gemini API Key
GEMINI_API_KEY=
GEMINI_API_URL=https://generativelanguage.googleapis.com/v1beta/openai/

# 文生图配置
IMAGE_API_URL=https://image.pollinations.ai/prompt/
IMAGE_MODEL=flux

# 高清修复配置
UPSCAYL_SCALE = 4
UPSCAYL_MODEL = realesr-animevideov3-x4
UPSCALY_FILE_TYPE = jpg

# 音频配置
EDGE_VOICE=zh-CN-YunxiNeural
AUDIO_CONCURRENCY=4     # 音频生成并发数

# 分段视频生成配置
VIDEO_THREADS=4         # 视频生成线程数
PORTRAIT_MODE=True      # 是否是竖屏模式
VIDEO_WIDTH=750         # 视频宽度
VIDEO_HEIGHT=1280       # 视频高度
MOVE_DISTANCE=0.1       # 移动距离 倍率
MOVE_SPEED=1.0          # 移动速度
ENTRANCE_EFFECT=True    # 入场效果
ENTRANCE_DURATION=0.2   # 入场持续时间
AUDIO_SPEED=1.0         # 音频速度 (效果不好)
